@import 'compass/css3/border-radius';
@import 'compass/css3/filter';
@import 'compass/css3/transform';

@import '../vendor/normalize.scss/_normalize.scss';

@import '_media-queries';

body {
    background: url('/img/giphy.gif') 0 0;
    font: 16px/18px sans-serif;
    width: 100%;
}

h1 {
    color: #fff;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-variant: small-caps;
    line-height: 1;
    text-align: center;
    text-shadow: 0px 0px 1em #000;

    @include transform(rotate(-2deg));

    @include media(large) {
        font-size: 5.9vw;
    }
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 1em 1em;
}

.content {
    margin: 1em auto;

    @include media(large) {
        margin: 2em auto;
        width: 80vw;
    }
}

.under-construction {
    background: url('/img/ucon.png') 0 0 no-repeat;
    display: block;
    margin: 0 auto 0.5em;
    height: 169px;
    width: 206px;
}

.body {
    background: #fff url('/img/tortilla-background.jpg');
    line-height: 1.25;
    padding: 1em;

    @include media(large) {
        padding: 2em;
        @include border-radius(0.5em);
        @include filter(drop-shadow(0 0 1em rgba(0, 0, 0, 1)));
    }
}

.navigation {
    text-align: center;
    padding: 0 0 0.5em;
}

.nav-item {
    display: inline-block;
    font-size: 0;

    a {
        &:link, &:visited {
            background: url('/img/bean-bg-middle.png') 0 0 repeat-x;
            color: #fff;
            display: inline-block;
            font-size: 16px;
            height: 41px;
            line-height: 2.5;
            text-decoration: none;
            vertical-align: middle;
        }
    }

    &:before {
        background: url('/img/bean-bg-left.png') 0 0 no-repeat;
        display: inline-block;
        content: '.';
        height: 41px;
        width: 42px;
        vertical-align: middle;
    }

    &:after {
        background: url('/img/bean-bg-right.png') 0 0 no-repeat;
        display: inline-block;
        content: '.';
        height: 41px;
        width: 38px;
        vertical-align: middle;
    }

    &.current {
        @include filter(drop-shadow(0 0 10px #3F9B30));
    }
}

.price {
    &:before {
        content: ': ';
    }
    color: #333;
    font-weight: normal;
    font-size: 0.75em;
    font-style: italic;;
}
