$breakpoint-mobile: 600px !default;
$breakpoint-desktop: 1016px !default;
$breakpoint-extra-large: 1280px !default;

$breakpoint-vertical-small: 768px !default;
$breakpoint-vertical-medium: 900px !default;
$breakpoint-vertical-large: 1050px !default;